/* * {
    color: darksalmon;
    font-size: 25px;
} */

/* ol, ul{
    list-style-type: None;
}

a {
    text-decoration: none;
} */

/* .favorite {
    color: purple;
}

#title {
    color: orchid;
} */

ol li {
    color:crimson
}